.font{
	/* 绿色圆角正方形 */
	border-radius: 50%;
	width: 100px;
	height: 100px;
	background-color: green;
}
.myButton{
	/* 青绿色按钮 */
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 32px;
	border-radius: 10%;
}
.myfont {
    position: fixed;
    top: 0;
    left: 0; 
    width: 0;
    height: 100%;
    overflow: hidden; /* 防止内容溢出 */
    box-shadow: -2px 0 5px rgba(0,0,0,0.2);
    transition: width 0.5s ease; /* 修正过渡属性 */
    z-index: 100;
}