.font{
	/* 绿色圆角正方形 */
	border-radius: 50%;
	width: 100px;
	height: 100px;
	background-color: green;
}
.myfont {
    position: fixed;
    top: 0;
    left: 0; 
    width: 0;
    height: 100%;
    overflow: hidden; /* 防止内容溢出 */
    box-shadow: -2px 0 5px rgba(0,0,0,0.2);
    transition: width 0.5s ease; /* 修正过渡属性 */
    z-index: 100;
}
.mylogin{
	position: fixed;
  top: 0;
  left: 0; 
  width: 1000px;
  height: 100%;
  overflow: hidden; /* 防止内容溢出 */
  display: none;
  z-index: 100;
}
.my_top_container{
  position: fixed;
  top: 0;
  left: 0; 
  width: 100%;
  height: 15%;
  overflow: hidden; /* 防止内容溢出 */
  display:block;
  z-index: 90;
  border: none;
}
.my_overlay{
  position: fixed;
  top: 0;
  left: 0; 
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0,0,0,0.5);
  opacity: 0.4;
  display: none;
  z-index: 90;
}
.custom-btn {          
	cursor: pointer;     /* 鼠标悬停时显示手型指针（提示可点击） */
	transition: fill 0.3s; /* 设置填充颜色（fill属性）的变化过渡效果，持续0.3秒 */
  
  }
.custom-btn:hover {
    fill: rgba(120, 46, 160, 0.667); 
  }
.moving-bg {
  animation: backgroundScroll 20s linear infinite;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 200%;
  z-index: -1;
  opacity: 1;
  user-select: none; 
  -webkit-user-drag: none;
  pointer-events: none;
}
.half{
  position: fixed;
  left: 40%;
  top: 0%;
  width: 70%;
  height: 100%;
  user-select: none; 
  -webkit-user-drag: none;
}

.partner {
  position: fixed;
  left: 20%;
  top: 5%;
  width: 120%;
  height: 120%;
  object-fit: contain; /* 确保图片在容器内按比例缩放 */
  user-select: none;
  -webkit-user-drag: none;
  animation: slowMoveUpDown 5s infinite; /* 添加动画效果 */
}

@keyframes slowMoveUpDown {
  0% {
    transform: translateY(0); /* 初始位置 */
  }
  50% {
    transform: translateY(10px); /* 移动到下方5px */
  }
  100% {
    transform: translateY(0); /* 返回初始位置 */
  }
}




@keyframes backgroundScroll {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50%);
  }
}
svg text {
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

/* 隐藏所有搭档图片 */
.partner {
  display: none;
}

/* 显示当前搭档图片 */
#partnerImage {
  display: block; /* 或其他合适的显示方式 */
}

