.font{
	/* 绿色圆角正方形 */
	border-radius: 50%;
	width: 100px;
	height: 100px;
	background-color: green;
}
.myButton{
	/* 青绿色按钮 */
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 32px;
	border-radius: 10%;
}
.myfont{
	position: fixed;
	top: 0;
	width: 400px;
	height: 100%;
	box-shadow: -2px 0 5px rgba(0,0,0,0.2);
	transition: transform 0.3s ease;
	z-index: 1000; /* 确保在最顶层 */
}