.font{
	/* 绿色圆角正方形 */
	border-radius: 50%;
	width: 100px;
	height: 100px;
	background-color: green;
}
.myButton{
	/* 青绿色按钮 */
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 32px;
	border-radius: 10%;

}