
  .line {
    fill: none;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke: #fff;
    stroke-dasharray: 328 600;
    animation: rotate 1s infinite linear;  
	--colorA: #f24983;
    filter:
        drop-shadow(0 0 1px var(--colorA))
        drop-shadow(0 0 2px var(--colorA))
        drop-shadow(0 0 5px var(--colorA))
		drop-shadow(0 0 10px var(--colorA));
}
.line2 {
    animation: rotate 1s infinite -0.5s linear;
	--colorA: #37c1ff;
}
@keyframes rotate {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 900;
  }
}
@font-face {

    font-family: 'deyihei';

    src: url('../fonts/SmileySans-Oblique-2.ttf') format('truetype');



}